pkgbase = ros-noetic-rqt-pose-view
	pkgdesc = ROS - rqt_pose_view provides a GUI plugin for visualizing 3D poses.
	pkgver = 0.5.11
	pkgrel = 2
	url = https://wiki.ros.org/rqt_pose_view
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-py-common
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-gl-dependency
	depends = ros-noetic-tf
	depends = ros-noetic-rostopic
	depends = ros-noetic-python-qt-binding
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-rospy
	depends = ros-noetic-geometry-msgs
	depends = python-opengl
	depends = python-rospkg
	source = ros-noetic-rqt-pose-view-0.5.11.tar.gz::https://github.com/ros-visualization/rqt_pose_view/archive/42e917442c2e4f1c627a4c1d7dd45227f6114b4b.tar.gz
	sha256sums = a4b6158f8293f683061e9297f3d821cab9eaeb0bf8dbb42d06832b9ef3dbe2b8

pkgname = ros-noetic-rqt-pose-view
